<mat-card>
    <mat-card-title>New product</mat-card-title>
    <form>
       <mat-form-field>
           <input matInput placeholder="Product:"
             [(ngModel)]="product.name" name="name"> <!--colocando os valores no intup-->
       </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Price: $"
              [(ngModel)]="product.price" name="price"> <!--colocando os valores no intup-->
        </mat-form-field>
    </form>
<button mat-raised-button (click)="createProduct()" color="accent">
    Save
</button>

<button mat-raised-button (click)="cancel()" color="warn">
    Cancel
</button>
</mat-card>